{% trans_default_domain  'app' %}

{% if nextPageToken is not null %}
    <li class="page-item" id="project_view_issues_status_backlog_list_pagination">
        <a
            class="page-link"
            href="{{ path('app_project_issue_show_backlog_list_next', {
                key: projectKeyValue,
                page: nextPageToken
            }) }}"
            data-turbo-prefetch="false"
        >
            {{ 'action.next'|trans }}
        </a>
    </li>
{% endif %}
