{% extends 'app/project/issue/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block pageTitle 'issue.label'|trans %}
{% set breadcrumb = [
    {
        label: '#' ~ key,
        href: path('app_project_issue_view', {'key': current_project.jiraKey, 'keyIssue': key}),
    },
    {
        label: 'action.edit',
    }
] %}

{% block content %}
    <div class="row">
        <div class="col-xxl-8 col-xl-7">
            <twig:form
                form="{{ form }}"
                cancelLink="{{ path('app_project_issue_view', {'key': current_project.jiraKey, 'keyIssue': key}) }}"
            >
                <twig:block name="content">
                    {% include 'app/project/issue/_edit_form_content.html.twig' %}
                </twig:block>
            </twig:form>
        </div>

        <div class="col-xxl-4 col-xl-5">
            <twig:app:issue:content
              :issue="issue"
            />
        </div>
    </div>
{% endblock %}
