{% block list %}
    <twig:Turbo:Stream:Replace 
        target="#project_view_issues_status_backlog_container"
    >
        <twig:list:data-list
            :datas="searchIssuesResult.issues"
            :totalDatas="searchIssuesResult.total"
            :hasNumberResult="false"
        >
            {% trans_default_domain 'app' %}

            {% block container_attributes %}
                id="project_view_issues_status_backlog_container" data-turbo-prefetch="false"
            {% endblock %}

            {% block header %}
                {% trans_default_domain 'app' %}
                <h4>{{ 'project.title.backlogIssues'|trans }}</h4>
            {% endblock %}

            {% block tableTh %}
                {% trans_default_domain 'app' %}

                <th class="d-none d-md-table-cell">
                    {% include 'components/list/sort-list-header.html.twig' with {
                        'label': 'issue.jiraKey.label'|trans,
                        'property': 'key',
                    } %}
                </th>
                <th>
                    {% include 'components/list/sort-list-header.html.twig' with {
                        'label': 'issue.summary.label'|trans,
                        'property': 'summary',
                    } %}
                </th>
                <th class="d-none d-md-table-cell">
                    {% include 'components/list/sort-list-header.html.twig' with {
                        'label': 'issue.assignee.label'|trans,
                        'property': 'assignee',
                    } %}
                </th>
                <th class="d-none d-md-table-cell">
                    {% include 'components/list/sort-list-header.html.twig' with {
                        'label': 'issue.status.label'|trans,
                        'property': 'status',
                    } %}
                </th>
                <th class="d-none d-md-table-cell">
                    {% include 'components/list/sort-list-header.html.twig' with {
                        'label': 'issue.priority.label'|trans,
                        'property': 'priority',
                    } %}
                </th>
                <th class="min"></th>
            {% endblock %}

            {% block tbody_attributes %}
                id="project_view_issues_status_backlog_list_content"
            {% endblock %}

            {% block tableTb %}
                {% include 'app/project/issue/_project_view_issues_backlog_content.html.twig' with {
                    'data': searchIssuesResult.issues,
                } %}
            {% endblock %}

            {% block pagination %}
                <div class="pagerfanta mt-4 pagination">
                    <ul class="pagination">
                        {% include 'app/project/issue/_project_view_issues_backlog_next.html.twig' with {
                            projectKeyValue: project.jiraKey,
                            nextPageToken: searchIssuesResult.nextPageToken
                        } %}
                    </ul>
                </div>
            {% endblock %}
        </twig:list:data-list>
    </twig:Turbo:Stream:Replace>
{% endblock %}

{% block list_next %}
    <twig:Turbo:Stream:Append 
        target="#project_view_issues_status_backlog_list_content"
    >
        {% include 'app/project/issue/_project_view_issues_backlog_content.html.twig' with {
            datas: searchIssuesResult.issues
        } %}
    </twig:Turbo:Stream:Append>

    <twig:Turbo:Stream:Replace 
        target="#project_view_issues_status_backlog_list_pagination"
    >
        {% include 'app/project/issue/_project_view_issues_backlog_next.html.twig' with {
            projectKeyValue: project.jiraKey,
            nextPageToken: searchIssuesResult.nextPageToken
        } %}
    </twig:Turbo:Stream:Replace>

{% endblock %}