//
// forms.scss
//

// Form-control light

.form-control-light {
    background-color: var(--#{$prefix}light) !important;
    border-color: var(--#{$prefix}border-color) !important;
    border-width: $card-border-width;
    border-style: solid;
}

// Form elements (Color and Range)

input.form-control[type="color"],
input.form-control[type="range"] {
    min-height: 39px;
}

// Custom select

.custom-select.is-invalid,
.form-control.is-invalid,
.custom-select:invalid,
.form-control:invalid,
.custom-select.is-valid,
.form-control.is-valid,
.custom-select:valid,
.form-control:valid {
    &:focus {
        box-shadow: none !important;
    }
}

select.form-control {
    &:not([size]):not([multiple]) {
        height: $input-height;
    }
}

select.form-control-sm {
    &:not([size]):not([multiple]) {
        height: $input-height-sm;
    }
}

// Show/Hide Password
.eye-off {
    display: none;
    width: 1.375rem;
    height: 1.375rem;
}
.eye-on {
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
}
.eye-on, .eye-off {
    cursor: pointer;
    .icon {
        fill: $black;
        width: 1.125rem;
        height: 1.125rem;
    }
}

.show-password {
    .eye-off {
        display: inline-block;
    }
    .eye-on {
        display: none;
    }
}