{% trans_default_domain 'app' %}
{% props label = 'ACTION', href = '' %}

<table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%"
       align="center" class="r3-o" style="table-layout: fixed; width: 100%;">
    <tr>
        <td class="r4-i" style="padding-bottom: 20px; padding-top: 20px;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                <tr>
                    <th width="100%" valign="top" class="r5-c" style="font-weight: normal;">
                        <table cellspacing="0" cellpadding="0" border="0" role="presentation"
                               width="100%" class="r6-o"
                               style="table-layout: fixed; width: 100%;">
                            <tr>
                                <td valign="top" class="r17-i"
                                    style="padding-left: 15px; padding-right: 15px; padding-top: 50px;">
                                    <table width="100%" cellspacing="0" cellpadding="0"
                                           border="0" role="presentation">
                                        <tr>
                                            <td class="r18-c" align="center"
                                                style="align: center; padding-bottom: 0px; padding-top: 0px; valign: top;">
                                                <table cellspacing="0" cellpadding="0"
                                                       border="0" role="presentation"
                                                       width="285" class="r19-o"
                                                       style="background-color: #222222; border-collapse: separate; border-color: #222222; border-radius: 4px; border-style: solid; border-width: 0px; table-layout: fixed; width: 285px;">
                                                    <tr>
                                                        <td height="18" align="center"
                                                            valign="top"
                                                            class="r20-i nl2go-default-textstyle"
                                                            style="word-break: break-word; background-color: #222222; border-radius: 4px; color: #ffffff; font-family: Arial; font-size: 16px; font-style: normal; line-height: 1.15; padding-bottom: 12px; padding-top: 12px; text-align: center;">
                                                            <a href="{{ href }}"
                                                               class="r21-r default-button"
                                                               target="_blank" data-btn="1"
                                                               style="font-style: normal; font-weight: normal; line-height: 1.15; text-decoration: none; word-break: break-word; word-wrap: break-word; display: block; -webkit-text-size-adjust: none; color: #ffffff; font-family: Arial; font-size: 16px;">
                                                                <span>{{ label }}</span></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </td>
    </tr>
</table>
