{% trans_default_domain 'app' %}
{% props text = 'TITRE' %}

<table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%"
       align="center" class="r3-o" style="table-layout: fixed; width: 100%;">
    <tr>
        <td class="r11-i" style="padding-bottom: 40px; padding-top: 20px;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                <tr>
                    <th width="100%" valign="bottom" class="r12-c" style="font-weight: normal;">
                        <table cellspacing="0" cellpadding="0" border="0" role="presentation"
                               width="100%" class="r6-o"
                               style="table-layout: fixed; width: 100%;">
                            <tr>
                                <td valign="top" class="r7-i"
                                    style="padding-left: 15px; padding-right: 15px;">
                                    <table width="100%" cellspacing="0" cellpadding="0"
                                           border="0" role="presentation">
                                        <tr>
                                            <td class="r13-c" align="left">
                                                <table cellspacing="0" cellpadding="0"
                                                       border="0" role="presentation"
                                                       width="100%" class="r14-o"
                                                       style="table-layout: fixed; width: 100%;">
                                                    <tr>
                                                        <td align="center" valign="top"
                                                            class="r15-i nl2go-default-textstyle"
                                                            style="color: #414141; font-family: Arial; font-size: 16px; word-break: break-word; line-height: 1; text-align: center;">
                                                            <div>
                                                                <h2 class="default-heading2" style="margin: 0; color: #414141; font-family: Arial; font-size: 32px; word-break: break-word;">
                                                                    {{ text }}
                                                                </h2>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </table>
        </td>
    </tr>
</table>
