{% extends 'admin/project/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block pageTitle 'project.title.edit'|trans({'%key%': entity.jiraKey}) %}
{% set breadcrumb = [
    {
        href: path('admin_project_edit', {id: entity.id}),
        label: '#' ~ entity.id,
    },
    {
        label: 'action.edit',
    }
] %}

{% block content %}
    <twig:form
        form="{{ form }}"
        cancelLink="{{ path('admin_project_list') }}"
    >
        <twig:block name="content">
            {% embed 'admin/project/_form_content.html.twig' %}
                {% block content %}

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.assignableRolesIds) }}
                        </div>
                    </div>

                {% endblock %}
            {% endembed %}
        </twig:block>
    </twig:form>
{% endblock %}
