.status {
    &-yellow {
        background-color: #FFC107 !important;
        color: white !important;
    }
    &-blue-gray {
        background-color: lightgray !important;
        color: white !important;
    }
    &-green {
        background-color: #36cf5c !important;
        color: white !important;
    }
}

.priority-icon {
    width: 15px;
}
