.status {
    &-yellow {
        background-color: #FFC107 !important;
        color: white !important;
    }
    &-blue-gray {
        background-color: lightgray !important;
        color: white !important;
    }
    &-green {
        background-color: #36cf5c !important;
        color: white !important;
    }
}

.priority-icon {
    width: 15px;
}

.focused-comment {
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s;

    h5 span {
        text-decoration: underline;
    }
}
