.notifications-list {
    padding: 0px 12px;

    .notify-item {
        .noti-item-title, .noti-item-subtitle {
            white-space:normal;
            overflow:visible;
            word-break:break-word;
        }
    }
}
