@import '../hyper-theme/scss/app';
@import 'override/variables';

@import '_override';
@import '_environment';
@import 'common/buttons';
@import '_issue';
@import '_notification';
@import '_scrollbar-top';

@import 'override/form';
@import 'override/miscellaneous';
@import 'override/navbar';
@import 'override/stackabletables';
@import 'override/utilities';
@import 'override/comments';

.button-no-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.a-clear {
    color: inherit;
}
