{% trans_default_domain 'app' %}
{% set choices = [5, 10, 15, 20] %}
{% set query_parameters = app.request.query.all %}

<span>{{ 'list.pagination.perPage'|trans }}</span>
<ul class="pagination">
  {% for choice in choices %}
    {% set query_parameters = query_parameters|merge({ 'perPage': choice }) %}
    {% set updated_url = path(app.request.attributes.get('_route'), query_parameters|merge(app.request.attributes.get('_route_params'))) %}
    <li class="page-item{{ pagination.maxPerPage == choice ? ' active' : '' }}">
      <a class="page-link" href="{{ updated_url }}">{{ choice }}</a>
    </li>
  {% endfor %}
</ul>
